In [13]:
import pandas as pd

In [14]:
weather_df = pd.read_csv('./../sample-data/weather_data_10_years_preprocessed.csv')

weather_df.head()

,Timestamp,temp,visibility,dew_point,feels_like,pressure,humidity,wind_speed,clouds_all,rain_1h,snow_1h
0,2014-03-06 00:00:00,9.79,10000.0,7.22,6.76,1001,84,6.70,75,NaN,NaN
1,2014-03-06 01:00:00,9.75,10000.0,7.01,6.56,1000,83,7.20,100,NaN,NaN
2,2014-03-06 02:00:00,9.21,10000.0,6.65,6.36,998,84,5.66,100,NaN,NaN
3,2014-03-06 03:00:00,8.67,10000.0,6.12,6.08,998,84,4.63,100,0.21,NaN
4,2014-03-06 04:00:00,8.00,10000.0,6.14,5.25,997,88,4.63,100,0.30,NaN

In [15]:
import pandas as pd

# Load the data from CSV
parking_df = pd.read_csv('./../sample-data/output.csv')

# Rename the 'Hour' column to 'Timestamp'
parking_df.rename(columns={'Hour': 'Timestamp'}, inplace=True)

# Display the first few rows of the DataFrame to verify the change
print(parking_df.head())

             Timestamp  North    West  Rose  Health Sciences  Fraser  \
0  2018-09-06 09:00:00    950  1015.0   475              909     556
1  2018-09-06 10:00:00    918  1160.0   612              972     706
2  2018-09-06 11:00:00    832  1210.0   659              964     724
3  2018-09-06 12:00:00    850  1166.0   695              953     720
4  2018-09-06 13:00:00    859  1219.0   709              962     727

   Thunderbird  University Lot Blvd
0          934                  NaN
1         1049                  NaN
2         1072                  NaN
3         1095                  NaN
4         1073                  NaN

In [16]:
# Merge the two DataFrames on 'Timestamp'
combined_df = pd.merge(parking_df, weather_df, on='Timestamp')

print(combined_df)

                 Timestamp  North    West  Rose  Health Sciences  Fraser  \
0      2018-09-06 09:00:00    950  1015.0   475              909     556
1      2018-09-06 10:00:00    918  1160.0   612              972     706
2      2018-09-06 11:00:00    832  1210.0   659              964     724
3      2018-09-06 12:00:00    850  1166.0   695              953     720
4      2018-09-06 13:00:00    859  1219.0   709              962     727
...                    ...    ...     ...   ...              ...     ...
53249  2024-07-02 19:00:00    428   521.0   225              783     203
53250  2024-07-02 20:00:00    435   539.0   241              803     204
53251  2024-07-02 21:00:00    383   536.0   220              805     188
53252  2024-07-02 22:00:00    286   351.0   194              687     175
53253  2024-07-02 23:00:00    184   203.0    96              546      97

       Thunderbird  University Lot Blvd   temp  visibility  dew_point  \
0              934                  NaN  14.69     10000.0      11.09
1             1049                  NaN  14.59     10000.0      10.21
2             1072                  NaN  14.01     10000.0       9.85
3             1095                  NaN  14.16     10000.0      10.58
4             1073                  NaN  13.85     10000.0       9.70
...            ...                  ...    ...         ...        ...
53249          480                 73.0  18.06     10000.0      12.94
53250          482                 76.0  18.46     10000.0      13.32
53251          437                 69.0  18.47     10000.0      13.12
53252          359                 83.0  19.13     10000.0      12.63
53253          199                 41.0  19.62     10000.0      11.65

       feels_like  pressure  humidity  wind_speed  clouds_all  rain_1h  \
0           14.28      1015        79        1.54          20      NaN
1           14.06      1015        75        1.03          20      NaN
2           13.45      1016        76        0.00          40      NaN
3           13.69      1016        79        2.10          75      NaN
4           13.28      1016        76        2.10          30      NaN
...           ...       ...       ...         ...         ...      ...
53249       17.80      1023        72        4.63          20      NaN
53250       18.24      1023        72        6.26          20      NaN
53251       18.23      1023        71        5.36          20      NaN
53252       18.82      1023        66        6.17          20      NaN
53253       19.20      1022        60        4.12          20      NaN

       snow_1h
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
53249      NaN
53250      NaN
53251      NaN
53252      NaN
53253      NaN

[53254 rows x 18 columns]

In [17]:
combined_df.to_csv('./../sample-data/combined_weather_parking.csv', index=False)

In [18]:

# Filter rows where timestamp is outside of the specified range
combined_df = combined_df[(combined_df['Timestamp'] < '2020-03-15') | (combined_df['Timestamp'] > '2021-09-07')]
# Drop duplicates, keeping the most recent entry for each timestamp
combined_df = combined_df.drop_duplicates(subset='Timestamp', keep='last')

combined_df.to_csv('./../sample-data/combined_weather_parking_WO2020_no_dups.csv', index=False)